{% extends 'base.html' %}
{% block body %}
{% load static %}
<section class="experience-timeline">
    <div class="timeline-items">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2015</div>
            <div class="timeline-content">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid aperiam atque aut autem
                    consectetur deleniti dignissimos excepturi exercitationem expedita id illo iusto laborum numquam
                    omnis quis quo, ratione temporibus unde voluptatem?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur est facere fugiat
                    ipsum iusto laboriosam pariatur quas quis voluptatibus! Adipisci, dicta dolorum ducimus enim error
                    fugit itaque labore, molestias necessitatibus quaerat similique tenetur vero! Ad, architecto at
                    beatae deleniti dicta exercitationem fugiat itaque labore neque praesentium soluta velit veritatis
                    voluptatem. Ad atque distinctio dolorum, est exercitationem hic illum modi neque recusandae
                    similique temporibus?</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2017</div>
            <div class="timeline-content">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid aperiam atque aut autem
                    consectetur deleniti dignissimos excepturi </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}
{% block script %}
{% endblock %}
