
:root {
    --dark-color: #0F1221;
    --mediumdark-color: #2d357d;
    --medium-color: #37489B;
    --mediumlight-color: #6C7CCB;
    --light-color: #9BA6DC;
    --HeaderHeight: 60px;
}

* {
    margin: 0;
    padding: 0;
}

/*NavBar style*/
header {
    background-color: var(--mediumlight-color);
    z-index: 999;
}

.container {
    background-color: var(--mediumdark-color);
}

/*region scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--mediumlight-color);
    background-color: var(--dark-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--mediumlight-color);
    border: 1px solid var(--dark-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-color);
}

/*endregion*/

/*region navbar*/
.nav {
    height: 60px;
    z-index: 999;
}

.nav .nav-menu ul {
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav .nav-menu ul li a {
    padding: 16px 25px;
    text-decoration: none;
    color: var(--mediumdark-color);
    font-size: 25px;
}

.nav .nav-menu ul li a:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
}

.nav .nav-menu {
    float: right;
    margin: 0 40px;
}

.nav .nav-header {
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    margin: 0 80px;
}

.nav .nav-header p a {
    text-decoration: none;
    font-size: 25px;
    color: var(--mediumdark-color);
}

/*endregion NavBar style*/

/*region Home page style*/
.home {
    display: flex;
    align-items: center;
    height: calc(100vh - 60px);
    flex-wrap: wrap;
}

.home .content-intro {
    width: 50vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 25px;
}

.home .content-intro .greetings {
    overflow: hidden;
    height: 50px;
}

.home .content-intro .intro-greeting {
    width: 100%;
    height: 50px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    animation: slide 16s infinite;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-95%);
    }
    30% {
        transform: translateY(-190%);
    }
    40% {
        transform: translateY(-190%);
    }
    50% {
        transform: translateY(-285%);
    }
    75% {
        transform: translateY(-285%);
    }
    85% {
        transform: translateY(-380%);
    }
    100% {
        transform: translateY(-380%);
    }
}

/*100 75 50 25 0*/
.home .content-intro h3 {
    font-size: 40px;
    color: var(--dark-color);
}

.home .content-intro h1 {
    font-size: 70px;
    color: var(--mediumlight-color);
}

.home .content-intro h4 {
    font-size: 55px;
    color: var(--dark-color);
}

.home .content-intro h4 span {
    font-size: 55px;
    color: var(--mediumlight-color);
}

.home .content-intro p {
    font-size: 30px;
    margin: 20px 0;
    color: #fff;
    color: var(--light-color);
}

.home .content-intro a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    height: 50px;
    width: 150px;
    margin: 20px 0 0 0;
    background-color: red;
    align-content: center;
    text-align: center;
    border-radius: 100px;
}

.home .content-imgBox {
    position: relative;
    width: 480px;
    height: 480px;
    background: black;
    border-radius: 50%;
    left: 10%;
    overflow: hidden;
}

.home .content-imgBox::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.home .content-imgBox::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: var(--mediumdark-color);
    border-radius: 50%;
    z-index: 1;
}

.home .content-imgBox .profile-img {
    position: absolute;
    inset: 30px;
    border: 3px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.home .content-imgBox .profile-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/*endregion Home page style*/

/*region Download button*/
.download-btn {
    --width: 250px;
    --height: 52px;
    --tooltip-height: 40px;
    --tooltip-width: 110px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: var(--light-color);
    --tooltip-color: #fff;
    margin-top: 20px;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 32px;
    font-family: inherit;
    font-size: 22px;
    cursor: pointer;
    transition: background 0.3s;
}

.download-btn::after,
.download-btn::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.download-btn .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn .button-wrapper,
.download-btn .text,
.download-btn .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: var(--mediumdark-color);
}

.download-btn .text {
    top: 0;
}

.download-btn .text,
.download-btn .icon {
    transition: top 0.5s;
}

.download-btn .icon {
    color: var(--mediumdark-color);
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn .icon svg {
    width: 24px;
    height: 24px;
}

.download-btn:hover {
    background: var(--light-color);
}

.download-btn:hover .text {
    top: -100%;
}

.download-btn:hover .icon {
    top: 0;
}

.download-btn:hover:before,
.download-btn:hover:after {
    opacity: 1;
    visibility: visible;
}

.download-btn:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.download-btn:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/*endregion download button*/

/*region social media button*/

.wrapper .button {
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: var(--light-color);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 180px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #0a66c2;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button span {
    color: var(--mediumdark-color);
}

/*.wrapper .button:nth-child(2) span {*/
/*    color: #1DA1F2;*/
/*}*/

/*.wrapper .button:nth-child(3) span {*/
/*    color: #E1306C;*/
/*}*/

/*.wrapper .button:nth-child(4) span {*/
/*    color: #333;*/
/*}*/

/*.wrapper .button:nth-child(5) span {*/
/*    color: #ff0000;*/
/*}*/

/*endregion social media button*/

/*region project page*/
.content-project {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.content-project .project {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.content-project .project .project-video {
    position: relative;
}

.content-project .project .project-video img {
    width: 780px;
    position: relative;
    /*z-index: 10;*/
    margin: 0 20px;
}

.content-project .project .project-video .video-wrapper {
    margin: 10px 0;
    position: absolute;
    height: 383px;
    width: 603px;
    left: 13%;
    /*border: None;*/
}

.content-project .project .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 20px;
}

.content-project .project .description .skills {
    display: flex;
    flex-wrap: wrap;
}

.content-project .project .description li a {
    margin-left: 5px;
    text-decoration: none;
    color: var(--light-color);
}

.content-project .project .description .skills span {
    color: #fff;
    background: #5e43f3;
    margin: 0 8px;
    padding: 8px 15px;
    border-radius: 30px;
}


.content-project .project .project-details-light h2 {
    color: var(--light-color);
    font-size: 45px;
}

.content-project .project .project-details-light p {
    color: var(--light-color);
    font-size: 20px;
    margin: 10px 0;
    font-weight: normal;
}

.content-project .project .project-details-light h3 {
    color: var(--light-color);
    font-size: 22px;
    font-weight: normal;
    margin: 5px 0px;
}


.content-project .project .project-details-light li {
    list-style: None;
    color: var(--light-color);
    font-size: 18px;
    margin: 5px 0;
}

.content-project .project .project-details-light li a {
    margin-left: 5px;
    text-decoration: none;
    color: var(--light-color);
}

/*dark*/
.content-project .project .project-details-dark h2 {
    color: var(--mediumdark-color);
    font-size: 45px;
}

.content-project .project .project-details-dark p {
    color: var(--mediumdark-color);
    font-size: 20px;
    margin: 10px 0;
    font-weight: normal;
}

.content-project .project .project-details-dark h3 {
    color: var(--mediumdark-color);
    font-size: 22px;
    font-weight: normal;
    margin: 5px 0px;
}


.content-project .project .project-details-dark li {
    list-style: None;
    color: var(--mediumdark-color);
    font-size: 18px;
    margin: 5px 0;
}

.content-project .project .project-details-dark li a {
    margin-left: 5px;
    text-decoration: none;
    color: var(--mediumdark-color);
}

/*endregion project page*/

/*region experience page*/
.timeline-section {
    min-height: calc(100vh - 60px);
    padding: 100px 15px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--mediumlight-color);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    position: absolute;
    left: calc(50% - 10px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 20px;
    color: var(--mediumlight-color);
    margin: 10px 0 15px;
}

.timeline-content {
    background-color: var(--mediumlight-color);
    padding: 30px;
    border-radius: 5px;
}

.timeline-content h3 {
    font-size: 22px;
    color: var(--mediumdark-color);
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 700;
}

.timeline-content p {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }
}

/*endregion experience page*/

/*region about page*/
.about {
    height: calc(100vh - 60px);
}

.about .about-education-certificate {
    display: flex;
    height: 695px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
    background-color: var(--light-color);
}

.info-box {
    background-color: var(--mediumlight-color);
    border-radius: 60px; /* Curved border */
    border: 3px solid var(--dark-color);
    align-self: center;
    padding: 10px 10px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 500px;
}

.about .about-education-certificate .comman-text h1 {
    font-size: 35px;
    font-weight: 800;
    margin-left: -15px;
    margin-bottom: 30px;
    text-align: center;
}

.about .about-education-certificate .comman-text ul {
    list-style-type: circle;
    margin-left: 18px;
}

.about .about-education-certificate .comman-text ul li h2 {
    margin: 0 10px;
    font-size: 26px;
    font-weight: 600;
}

.about .about-education-certificate .comman-text ul li h3 {
    margin: 0 10px;
    font-size: 23px;
    font-weight: 500;
}

.about .about-education-certificate .comman-text ul li h4 {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 200;
}

.about .about-about {
    display: flex;
    flex-direction: row;
    background-color: var(--mediumdark-color);
    height: calc(100vh - 60px);
}

.about .about-about .about-text {
    width: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    height: calc(100vh - 60px);
}

.about .about-about .about-text h3 {
    color: var(--light-color);
    font-size: 25px;
}

.about .about-about .about-text li {
    list-style: circle;
    color: var(--light-color);
    margin: 10px 0;
    font-size: 20px;
}

.about .about-about .about-text p {
    color: var(--light-color);
    margin: 10px 0;
    font-size: 20px;
}

.about .about-text-img {
    width: 700px;
    overflow: hidden;
}

.about .about-about .about-img {
    width: 700px;
    filter: drop-shadow(1px 1px 15px var(--light-color));
    animation: updown 3s infinite ease;
    transition: all .3s;
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.about .about-certifications {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    height: fit-content;
}

.about .about-certifications .certi-wrapper {
    position: relative;
    max-width: 300px;
    height: 138px;
    background: wheat;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}

.about .about-certifications .certi-wrapper:hover {
    height: 200px;
}

.about .about-certifications .certi-wrapper .certi-img {
    position: relative;
    width: 260px;
    height: 200px;
    top: -60px;
    z-index: 1;
}

.about .about-certifications .certi-wrapper .certi-img img {
    max-width: 100%;
    height: 100%;
    border-radius: 6px;
}

.about .about-certifications .certi-wrapper .certi-text {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.about .about-certifications .certi-wrapper:hover .certi-text {
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}

.about-skills {
    background: var(--mediumdark-color);
    height: 695px;
    display: flex;
    justify-content: center;
}

/*.about-skills .card {*/
/*    width: 250px;*/
/*    height: 300px;*/
/*    border-top-left-radius: 20px;*/
/*    border-top-right-radius: 20px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    border-color: var(--light-color);*/
/*    border-style: solid;*/
/*    border-width: 10px 10px 40px 10px;*/
/*}*/

/*.about-skills .card .card-skill-img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    -moz-border-radius-topleft: 15px;*/
/*    -moz-border-radius-topright: 15px;*/
/*    border: 2px solid var(--dark-color);*/
/*}*/


.about-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--mediumdark-color);
}

.card-list .card-item {
    list-style: none;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: var(--light-color);
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: var(--dark-color);
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
    justify-self: center;
}

.card-wrapper .swiper-pagination-bullets {
    width: 20px;
    opacity: 0.5;
    background: transparent;

}

.card-wrapper .swiper-pagination-bullets-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: var(--mediumlight-color);
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}

/*endregion about page*/