@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #382bf0;
    --color-primary-200: #5e43f3;
    --color-primary-300: #7a5af5;
    --color-primary-400: #9171f8;
    --color-primary-500: #a688fa;
    --color-primary-600: #ba9ffb;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #1a1625;
    --color-surface-mixed-200: #2f2b3a;
    --color-surface-mixed-300: #46424f;
    --color-surface-mixed-400: #5e5a66;
    --color-surface-mixed-500: #76737e;
    --color-surface-mixed-600: #908d96;
/


}

* {
    margin: 0;
    padding: 0;
}

/*NavBar style*/
/* #2f2b3a;*/
header {
    background-color: var(--color-surface-mixed-400);
}

.nav {
    height: 12vh;
    z-index: 1;
}

.nav .nav-menu ul {
    height: 12vh;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav .nav-menu ul li {
    margin: 0 20px;
}

.nav .nav-menu ul li a {
    text-decoration: none;
    color: var(--color-primary-500);
    font-size: 25px;
}

.nav .nav-menu {
    float: right;
    margin: 0 40px;
}

.nav .nav-header {
    height: 12vh;
    float: left;
    display: flex;
    align-items: center;
    margin: 0 80px;
}

.nav .nav-header p {
    color: var(--color-primary-500);
    font-size: 30px;
}

/*End NavBar style*/

/*Home page style*/
.home {
    display: flex;
    align-items: center;
    height: calc(100vh - 12vh);
    flex-wrap: wrap;
}

.home .content-intro {
    width: 50vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 25px;
}

.home .content-intro .greetings {
    overflow: hidden;
    height: 50px;
}

.home .content-intro .intro-greeting {
    width: 100%;
    height: 50px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    animation: slide 16s infinite;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-95%);
    }
    30% {
        transform: translateY(-190%);
    }
    40% {
        transform: translateY(-190%);
    }
    50% {
        transform: translateY(-285%);
    }
    75% {
        transform: translateY(-285%);
    }
    85% {
        transform: translateY(-380%);
    }
    100% {
        transform: translateY(-380%);
    }
}

/*100 75 50 25 0*/
.home .content-intro h3 {
    font-size: 40px;
    color: var(--color-surface-600);
}

.home .content-intro h1 {
    font-size: 70px;
    color: var(--color-primary-500);
}

.home .content-intro h4 {
    font-size: 55px;
    color: var(--color-surface-mixed-600);
}

.home .content-intro p {
    font-size: 30px;
    margin: 20px 0;
    color: #fff;
}

.home .content-intro a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    height: 50px;
    width: 150px;
    margin: 20px 0 0 0;
    background-color: red;
    align-content: center;
    text-align: center;
    border-radius: 100px;
}

.home .content-imgBox {
    position: relative;
    width: 480px;
    height: 480px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    left: 10%;
    overflow: hidden;
}

.home .content-imgBox::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.home .content-imgBox::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.home .content-imgBox .profile-img {
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.home .content-imgBox .profile-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/*end Home page style*/
/*Download button*/
.download-btn {
    --width: 250px;
    --height: 52px;
    --tooltip-height: 40px;
    --tooltip-width: 110px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #000;
    --tooltip-color: #fff;
    margin-top: 20px;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 32px;
    font-family: inherit;
    font-size: 22px;
    cursor: pointer;
    transition: background 0.3s;
}

.download-btn::after,
.download-btn::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.download-btn .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn .button-wrapper,
.download-btn .text,
.download-btn .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.download-btn .text {
    top: 0;
}

.download-btn .text,
.download-btn .icon {
    transition: top 0.5s;
}

.download-btn .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn .icon svg {
    width: 24px;
    height: 24px;
}

.download-btn:hover {
    background: #8f44fd;
}

.download-btn:hover .text {
    top: -100%;
}

.download-btn:hover .icon {
    top: 0;
}

.download-btn:hover:before,
.download-btn:hover:after {
    opacity: 1;
    visibility: visible;
}

.download-btn:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.download-btn:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/*end download button*/
/*social media button*/


.wrapper .button {
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #ff0000;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
    color: #E1306C;
}

.wrapper .button:nth-child(4) span {
    color: #333;
}

.wrapper .button:nth-child(5) span {
    color: #ff0000;
}

/*en d social media button*/

/*project page*/
.content-project {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.content-project .project {
    display: flex;
    height: 99vh;
    align-items: center;
    justify-content: center;
}

.content-project .project .project-video {
    position: relative;
}

.content-project .project .project-video img {
    width: 780px;
    position: relative;
    /*z-index: 10;*/
    margin: 0 20px;
}

.content-project .project .project-video .video-wrapper {
    margin: 10px 0;
    position: absolute;
    height: 383px;
    width: 603px;
    left: 13%;
    /*border: None;*/
}

.content-project .project .project-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 20px;
}

.content-project .project .project-details h2 {
    color: #fff;
    font-size: 45px;
}

.content-project .project .project-details p {
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    font-weight: normal;
}

.content-project .project .project-details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    margin: 5px 0px;
}

.content-project .project .project-details .skills {
    display: flex;
    flex-wrap: wrap;
}

.content-project .project .project-details .skills span {
    color: #fff;
    background: #5e43f3;
    margin: 0 8px;
    padding: 8px 8px;
    border-radius: 30px;
}

.content-project .project .project-details li {
    list-style: None;
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
}

.content-project .project .project-details li a {
    margin-left: 5px;
}

/*end project page*/
/*experience page*/
.timeline-section {
    background-color: #24292d;
    min-height: 100vh;
    padding: 100px 15px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 18px;
    color: #eaa023;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: #2f363e;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }
}

/*end experience page*/
/*about page*/
.about-education {
    margin: 90px 30px;
    width: 700px;
    border-top: 2px solid #ccc;
    padding: 20px 0 30px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.about-education div {
    background-color: #fff;
    /*padding: 10px 25px;*/
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 110px;
    margin-bottom: 20px;
}

.about-education div::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -26px;
    left: 13px;
}

.about-education div::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    border-width: 8px;
    position: absolute;
    left: 10px;
    top: -17px;
}

.about-education div h2 {
    margin: 0;
    text-transform: Uppercase;
}

.about-education div h3 {
    margin: 0;
}

.about-education div h3 {
    margin: 0;
}

.about-education div h4 {
    margin: 0;
}

.Heading {
    font-size: 30px;
    color: #fff;
    padding: 0 30px;
}

.about {
    margin: 0 20px;
}

.about .about-about {
    display: flex;
    flex-direction: row;
    height: 87vh;
}

.about .about-about .about-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
}

.about .about-about .about-text h3 {
    color: #fff;
    font-size: 25px;
}

.about .about-about .about-text li {
    list-style: circle;
    color: #fff;
    margin: 10px 0;
    font-size: 20px;
}

.about .about-about .about-text p {
    color: #fff;
    margin: 10px 0;
    font-size: 20px;
}

.about .about-about .about-img {
    width: 50vw;
    filter: drop-shadow(1px 1px 15px red);
    animation: updown 3s infinite ease;
    transition: all .3s;
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.about .about-certifications {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.about .about-certifications .certi-wrapper {
    position: relative;
    max-width: 300px;
    height: 138px;
    background: wheat;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}

.about .about-certifications .certi-wrapper:hover {
    height: 200px;
}

.about .about-certifications .certi-wrapper .certi-img {
    position: relative;
    width: 260px;
    height: 200px;
    top: -60px;
    z-index: 1;
}

.about .about-certifications .certi-wrapper .certi-img img {
    max-width: 100%;
    height: 100%;
    border-radius: 6px;
}

.about .about-certifications .certi-wrapper .certi-text {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.about .about-certifications .certi-wrapper:hover .certi-text {
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}

/*end about page*/